/* Universal base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black; /* More readable text color */
    background: linear-gradient(to top, #e0f2ff 0%, #ffffff 100%); /* Smooth gradient background */
}

.header {
    background: linear-gradient(to top, #e0f2ff 0%, #ffffff 100%);
    color: black;
    text-align: center;
    padding: 50px 20px; /* Adequate padding for visual appeal */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Consistent padding */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 20px; /* Comfortable padding for clickable areas */
}

.navbar-links {
    display: flex;
    align-items: center; /* Aligns links vertically in the navbar */
}

/* Responsive adjustments for navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Keep navbar horizontal */
        justify-content: space-between; /* Maintain spacing on both ends */
        padding: 10px; /* Smaller padding on mobile */
    }

    .navbar-links {
        flex-direction: row; /* Ensures links are side by side */
        align-items: center;
        width: auto; /* Auto width to fit content */
    }

    .navbar-links a {
        flex: 1; /* Allows each link to expand */
        text-align: center; /* Centers text within each link */
        padding: 8px 12px; /* Adjust padding for uniformity */
    }

    /* Hide 'About' and 'Student Testimonials' links on mobile */
    .navbar-links a[href="#about"],
    .navbar-links a[href="#testimonials"] {
        display: none;
    }

    /* Ensure 'Get Involved' and 'WUSC UTSC' are displayed */
    .navbar-links a[href="https://www.instagram.com/wuscutsc/"],
    .navbar-links a[href="#home"] {
        display: block;
    }
}

/* Hero section styles */
.hero h1 {
    font-size: 2.5em; /* Prominent size for main heading */
}

.hero p {
    font-size: 1.2em; /* Properly sized paragraph text */
}

/* Section styling for 'About', 'Testimonials', etc. */
.section {
    background-color: #ffffff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
}

.section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #444;
    text-align: justify;
    padding: 0 20px;
    max-width: 900px;
    margin: auto;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}
